<style>
  .kanban-container {
    margin-top: 10px;
    overflow: auto;
  }

  .kanban-board {
    border-radius: 5px;
    background-color: #e1e9f1;
  }

  .kanban-item {
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .kanban-item:hover {
    cursor: pointer;
  }
</style>

<div id='{{kanbanId}}'></div>
